@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model MvcSoruCevap.Models.Answer

    <h1>Cevap Sil</h1>

    <p>@Model.Content cevabını silmek istediğinizden emin misiniz?</p>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="AnswerId" />
        <button type="submit" class="btn btn-danger">Sil</button>
        <a href="/Answer?questionId=@Model.QuestionId" class="btn btn-secondary">İptal</a>
    </form>

}
